#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Layer Numbering

#define DEFAULT 0
#define NUM     1
#define SYM     2
#define M_LAYER 3
#define FUN     4
#define MOUSE   5
#define SCROLL  6

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        scroll {
            bindings = <&mo 6>;
            key-positions = <49 50>;
        };

        mouse {
            bindings = <&to 3>;
            key-positions = <35 36 37>;
        };

        lock {
            bindings = <&kp RG(L)>;
            key-positions = <61 62>;
        };
    };

    behaviors {
        sensor_rotate_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_wheel_scroll: mouse_wheel_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        bt_encoder: bt_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            label = "BT_ENCODER";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
&kp ESC           &kp N1   &kp N2        &kp N3            &kp N4        &kp N5                                  &kp N6     &kp N7  &kp N8     &kp N9   &kp N0    &kp BSPC
&kp TAB           &kp Q    &kp W         &kp E             &kp R         &kp T      &trans     &kp N3            &kp Y      &kp U   &kp I      &kp O    &kp P     &kp ENTER
&kp LEFT_CONTROL  &kp A    &kp S         &kp D             &kp F         &kp G      &mo 6      &trans            &kp H      &kp J   &kp K      &kp L    &kp SEMI  &kp MINUS
&kp LEFT_SHIFT    &kp Z    &kp X         &kp C             &kp V         &kp B      &mkp LCLK  &kp SINGLE_QUOTE  &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
&mo 4             &kp F13  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_GUI  &kp SPACE  &kp SPACE  &mkp RCLK         &mkp MCLK                              &trans    &trans
            >;

            sensor-bindings = <&bt_encoder>;
        };

        number_layer {
            label = "NUM";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &bt BT_CLR    &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &ind_con  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &ind_bat  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans                          &trans  &trans
            >;
        };

        m {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans    &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &to 0     &trans     &kp LC(C)  &kp LC(V)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &kp UP    &mkp RCLK  &mkp LCLK  &mkp MCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &mo 6      &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans                                     &trans  &trans
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                           &kp F6   &kp F7   &kp F8  &kp F9  &kp F10           &trans
&trans  &trans  &trans  &trans  &trans  &trans     &bt BT_SEL 0  &trans  &kp F11  &kp F12  &trans  &trans  &kp MINUS         &kp EQUAL
&trans  &trans  &trans  &trans  &trans  &trans     &bt BT_SEL 1  &trans  &trans   &trans   &trans  &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans  &trans  &trans  &trans  &trans  &trans     &bt BT_SEL 2  &trans  &trans   &trans   &trans  &trans  &trans            &kp GRAVE
&trans  &trans  &trans  &trans  &trans  &mkp RCLK  &trans        &trans  &trans                            &trans            &trans
            >;

            sensor-bindings = <&sensor_rotate_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&kp ESC         &kp N1  &kp N2    &kp N3     &kp N4        &kp N5                    &kp N6    &kp N7     &kp N8     &kp N9     &trans  &trans
&kp TAB         &trans  &trans    &trans     &trans        &trans  &trans  &kp N3    &to 0     &trans     &kp LC(C)  &kp LC(V)  &trans  &trans
&kp LCTRL       &trans  &trans    &trans     &kp F         &trans  &trans  &trans    &kp UP    &mkp RCLK  &mkp LCLK  &mkp MCLK  &trans  &trans
&kp LEFT_SHIFT  &kp Z   &kp X     &kp C      &kp V         &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &mo 6      &trans     &trans  &trans
&mo 4           &trans  &kp LALT  &kp LCTRL  &kp LEFT_GUI  &trans  &trans  &trans    &trans                                     &trans  &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };
    };
};
